html {
    margin: 0 auto;
    min-height: 100%;
}
body {
    background-color: rgb(20, 20, 20);
    text-align: center;
    margin: 0 auto;
    min-height: 100%;
}
header {
    position: fixed;
    text-align:center;
    top:0;
    left:0;
    width:100%;
    background-color:rgb(10, 20, 70);
}
footer {
    display: block;
    text-align: center;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgb(10, 20, 70);
}
h1 {
    font-size: 30px;
    text-align: center;
    margin: 0;
}
p {
    margin: 0;
    color: darkgrey;
    font-size: 20px;
    white-space: pre-line;
}
button {
    color:darkgrey;
    background-color: rgb(10, 20, 70);
    font-size: 15px;
}
#head {
    height: 40px;
    display: flex;
    justify-content: center;
    position: relative;
}
#store_view {
    padding-top: 40px;
}
#store_view div {
    color: darkgrey;
}

.dropdown {
    position: absolute;
    left: 0;
    display: inline-block;
    height: 100%;
    font-size: 30px;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: darkgrey;
    width: 100%;
    text-align: left;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown h1 {
    color:darkgrey;
    border-style: solid;
    border-color: black;
}