html {
    margin: 0 auto;
    min-height: 100%;
    border-left-style: solid;
    border-right-style: solid;
    border-color: rgb(10, 20, 70);
}
header {
    position: fixed;
    text-align:center;
    top:0;
    left:0;
    width:100%;
    background-color:rgb(10, 20, 70);
}
body {
    background-color: rgb(20, 20, 20);
    text-align: center;
    margin: 0 auto;
    min-height: 100%;
}
footer {
    display: inline;
    text-align: center;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgb(10, 20, 70);
    position: fixed;
}
h1 {
    font-size: 30px;
    text-align: center;
    margin: 0;
}
p {
    margin: 0;
    color:darkgrey;
    font-size: 20px;
    white-space: pre-line;
}
button {
    color:darkgrey;
    background-color: rgb(10, 20, 70);
    font-size: 15px;
}
select {
    position: absolute;
    left: 0;
    height: 100%;
    color:darkgrey;
    background-color: rgb(10, 20, 70);
    font-size: 17px;
}
#head {
    height: 40px;
    display: flex;
    justify-content: center;
    position: relative;
}
#store_view {
    padding-top: 40px;
}