/*Main Stylesheet*/

/*SCSS declarations*/
/***********************************/
/*main web page color*/ 
$primaryColor: orangered;
/*vertical space taken by floating header*/
$headerSpace: 14em;
/*declaration for a solid black border and removes margins*/
@mixin blackBorder {
    border-style: solid;
    border-color: black;
    border-width: thin;
    box-sizing: border-box;
}
/***********************************/

/*global styling*/
/***********************************/
/*fit html to whole page*/
html {
    min-height: 100%;
}
/*remove body margin*/
body {
    margin: 0;
}
/*removing the blue highlighting from hyperlinks*/
a {
    color: inherit;
    text-decoration: none;
}
/***********************************/

/*floating header*/
/***********************************/
/*the containing header element*/
header {
    /*position header at top of page and fix it*/
    position: fixed;
    top:0;
    left:0;
    /*background color*/
    background-color: $primaryColor;
    /*fixed height so exact top margin can be used by element below*/
    height: $headerSpace;
    /*fit full page width*/
    width: 100%;
    /*solid black border*/
    @include blackBorder();
    /*center heading in header*/
    text-align: center;
    /*font styling of main title in header*/
    h1 {
        font-size: 4.2em;
        padding-top: 0.2em;
        margin: 0;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        display: inline-block;
    }
}
/*dropdown menu class*/
.dropdown {
    /*position the dropdown menu in the top left corner of the header*/
    position: absolute;
    left: 0;
    /*fit div size to content*/
    display: inline-block;
    /*set height*/
    height: 3.8em;
}
/*class for content within dropdown menu*/
.dropdownContent {
    /*hidden while mouse is not hovering over element*/
    display: none;
    /*fit width to width of dropdown menu*/
    width: 100%;
    /*align text items to the left*/
    text-align: left;
    /*background color*/
    background-color: $primaryColor;
    @include blackBorder();
    margin-top: 6em;
    /*dropdown content text styling*/
    h2 {
        font-size: 4em;
        margin: 0 0 1em 0;
        width: 100%;
        /*em used for horizontal spacing in special case where the width required is greater than it's parent (>%100)*/
        padding-right: 5em;
        /*solid black border*/
        @include blackBorder();
    }
    z-index: 1;
}
/*dropdown menu icon styling*/
#menuIcon {
    height: 6.5em;
    /*parent is div fit to width, % cannot be used for horizontal spacing here*/
    margin-left: 1em;
    position: absolute;
    left: 0;
    top: 0;
}
#cartIcon {
    position: absolute;
    right: 0;
    top: 0;
    display: inline;
    height: 6em;
    margin: 0.1em 0.9% 0 0;
}
/*on mouse hover the dropdown content class will display underneath the dropdown menu class*/
.dropdown:hover .dropdownContent {
    display: block;
}
/*search bar in header*/
#searchBar {
    /*position in bottom right and leave space on the left for dropdown menu*/
    font-size: 3em;
    position: absolute;
    height: 1.8em;
    right: 0;
    bottom: 0;
    width: 90%;
    margin: 0 5% 0.4em 5%;
    z-index: -1;
    touch-action: none;
}
/***********************************/

/*web store styling*/
/***********************************/
/*store containing div*/
#productView {
    margin-top: 1em;
}
/*wrapper div for store items*/
.products {
    display: block;
    margin: 1em 2%;
}
/*individual store item class*/
.product {
    /*set the store item divs to the width of their content*/
    display: inline-block;
    /*solid black border*/
    @include blackBorder();
    width: 100%;
    /*font styling of titles of store items*/
    h2 {
        font-size: 3.6em;
        margin: 1em 0;
    }
    /*price and description styling*/
    p {
        margin: 0 0 4em 0;
        font-size: 2em;
    }
    label {
        font-size: 3em;
    }
    /*store item quantity selector*/
    input {
        font-size: 3em;
        width: 15%;
        text-align: center;
        touch-action: none;
    }
    /*store item add to cart button*/
    button {
        background-color: $primaryColor;
        font-size: 3em;
        text-align: center;
    }
}
.addCart {
    margin-left: 10%;
}
.updateCart {
    width: 12%;
}
.removeCart {
    margin-left: 10%;
}
.cartQuantity {
    width: 12%;
}
/*store item images*/
.productImage {
    /*sets size of image*/
    height: 42em;
    width: 39%;
    display: inline;
    margin: 0.25em 0.6% 0 0.6%;
}
.productText {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    width: 57%;
    padding-top: 1em;
    padding-left: 2%;
}
/***********************************/

/*non-floating/absolute footer*/
/***********************************/
footer {
    /*align text in center*/
    text-align: center;
    /*position at bottom of page*/
    bottom: 0;
    left: 0;
    /*fit full page width*/
    width: 100%;
    padding-bottom: 0.8em;
    /*background color*/
    background-color: $primaryColor;
    /*solid black border*/
    @include blackBorder();
    /*footer paragraph styling*/
    p {
        margin: 0;
        font-size: 2.3em;
    }
}
/***********************************/

#headSpace {
    height: $headerSpace;
}

#cartHead {
    @include blackBorder();
    text-align: center;
    h2 {
        text-align: left;
        font-size: 3.4em;
        margin-left: 6%;
    }
    button {
        background-color: $primaryColor;
        font-size: 3em;
        text-align: center;
        margin-bottom: 1em;
        width: 80%;
    }
}