/*Main Webpage Stylesheet*/

/*SCSS declarations*/
/***********************************/
/*main web page color*/ 
$primary_color: orangered;
/*vertical space taken by floating header*/
$header_space: 4em;
/*declaration for a solid black border and removes margins*/
@mixin black_border {
    border-style: solid;
    border-color: black;
    border-width: thin;
    box-sizing: border-box;
}
/***********************************/

/*global styling*/
/***********************************/
/*fit html to whole page*/
html {
    min-height: 100%;
}
/*remove body margin*/
body {
    margin: 0;
}
/***********************************/

/*floating header*/
/***********************************/
/*the containing header element*/
header {
    /*position header at top of page and fix it*/
    position: fixed;
    top:0;
    left:0;
    /*background color*/
    background-color: $primary_color;
    /*fixed height so exact top margin can be used by element below*/
    height: $header_space;
    /*fit full page width*/
    width: 100%;
    /*solid black border*/
    @include black_border();
    /*font styling of main title in header*/
    h1 {
        font-size: 1.6em;
        /*center heading in header*/
        text-align: center;
        margin: 0;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
}
/*dropdown menu class*/
.dropdown {
    /*position the dropdown menu in the top left corner of the header*/
    position: absolute;
    left: 0;
    /*fit div size to content*/
    display: inline-block;
    /*set full height and partial width*/
    height: 100%;
}
/*class for content within dropdown menu*/
.dropdown-content {
    /*hidden while mouse is not hovering over element*/
    display: none;
    /*fit width to width of dropdown menu*/
    width: 100%;
    /*align text items to the left*/
    text-align: left;
    /*background color*/
    background-color: $primary_color;
    /*dropdown content text styling*/
    h2 {
        font-size: 1.3em;
        margin: 0;
        width: 100%;
        /*solid black border*/
        @include black_border();
    }
    /*removing the blue highlighting from the dropdown content hyperlinks*/
    a {
        color: inherit;
        text-decoration: none;
    }
}
/*on mouse hover the dropdown content class will display underneath the dropdown menu class*/
.dropdown:hover .dropdown-content {
    display: block;
}
/*dropdown menu icon styling*/
#menu_icon {
    height: 96%;
    margin-left: 5%;
}
/*search bar in header*/
#search_bar {
    /*position in bottom right and leave space on the left for dropdown menu*/
    position: absolute;
    right: 0;
    bottom: 0;
    width: 80%;
    height: 35%;
}
/***********************************/

/*web store styling*/
/***********************************/
/*store containing div*/
#store_view {
    /*set top margin to floating header height as to not have overlap*/
    margin-top: $header_space;
}
/*wrapper div for store items*/
.item_wrapper {
    /*display store items inline*/
    display: inline;
}
/*individual store item class*/
.store_item {
    /*set the store item divs to the width of their content*/
    display: inline-block;
    /*solid black border*/
    @include black_border();
    /*font styling of titles of store items*/
    h2 {
        margin: 0;
    }
    /*price and description styling*/
    p {
        margin: 0;
        font-size: 1em;
        text-align: left;
    }
    /*store item quantity selector*/
    input {
        width: 5%;
    }
    /*store item add to cart button*/
    button {
        background-color: $primary_color;
        font-size: 1em;
    }
    text-align: center;
}
/*store item images*/
.product_image {
    /*sets size of image*/
    height: 10em;
    width: 60%;
}
/***********************************/

/*non-floating/absolute footer*/
/***********************************/
footer {
    /*align text in center*/
    text-align: center;
    /*position at bottom of page*/
    bottom: 0;
    left: 0;
    /*fit full page width*/
    width: 100%;
    /*background color*/
    background-color: $primary_color;
    /*solid black border*/
    @include black_border();
    /*footer paragraph styling*/
    p {
        margin: 0;
        font-size: 1em;
    }
}
/***********************************/


@media screen and (max-width : 61.25em) {
    .store_item {
        /**/
        width: 100%;
        height: 40em;
    }
}