/*Main Stylesheet*/

/*SCSS declarations*/
/***********************************/
/*main web page color*/ 
$primary_color: orangered;
/*vertical space taken by floating header*/
$header_space: 14em;
/*declaration for a solid black border and removes margins*/
@mixin black_border {
    border-style: solid;
    border-color: black;
    border-width: thin;
    box-sizing: border-box;
}
/***********************************/

/*global styling*/
/***********************************/
/*fit html to whole page*/
html {
    min-height: 100%;
}
/*remove body margin*/
body {
    margin: 0;
}
/***********************************/

/*floating header*/
/***********************************/
/*the containing header element*/
header {
    /*position header at top of page and fix it*/
    position: fixed;
    top:0;
    left:0;
    /*background color*/
    background-color: $primary_color;
    /*fixed height so exact top margin can be used by element below*/
    height: $header_space;
    /*fit full page width*/
    width: 100%;
    /*solid black border*/
    @include black_border();
    /*font styling of main title in header*/
    h1 {
        font-size: 4.2em;
        padding-top: 0.2em;
        /*center heading in header*/
        text-align: center;
        margin: 0;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
}
/*dropdown menu class*/
.dropdown {
    /*position the dropdown menu in the top left corner of the header*/
    position: absolute;
    left: 0;
    /*fit div size to content*/
    display: inline-block;
    /*set height*/
    height: 3.8em;
}
/*class for content within dropdown menu*/
.dropdown-content {
    /*hidden while mouse is not hovering over element*/
    display: none;
    /*fit width to width of dropdown menu*/
    width: 100%;
    /*align text items to the left*/
    text-align: left;
    /*background color*/
    background-color: $primary_color;
    @include black_border();
    /*dropdown content text styling*/
    h2 {
        font-size: 4em;
        margin: 0 0 1em 0;
        width: 100%;
        /*em used for horizontal spacing in special case where the width required is greater than it's parent (>%100)*/
        padding-right: 5em;
        /*solid black border*/
        @include black_border();
    }
    /*removing the blue highlighting from the dropdown content hyperlinks*/
    a {
        color: inherit;
        text-decoration: none;
    }
    z-index: 1;
}
/*dropdown menu icon styling*/
#menu_icon {
    height: 6.5em;
    margin-left: 1em;
}
/*on mouse hover the dropdown content class will display underneath the dropdown menu class*/
.dropdown:hover .dropdown-content {
    display: block;
}
/*search bar in header*/
#search_bar {
    /*position in bottom right and leave space on the left for dropdown menu*/
    font-size: 3em;
    position: absolute;
    height: 1.8em;
    right: 0;
    bottom: 0;
    width: 90%;
    margin: 0 5% 0.4em 5%;
    z-index: -1;
    touch-action: none;
}
/***********************************/

/*web store styling*/
/***********************************/
/*store containing div*/
#store_view {
    /*set top margin to floating header height as to not have overlap*/
    margin-top: $header_space + 1em;
}
/*wrapper div for store items*/
.item_wrapper {
    display: block;
    margin: 1em 2%;
}
/*individual store item class*/
.store_item {
    /*set the store item divs to the width of their content*/
    display: inline-block;
    /*solid black border*/
    @include black_border();
    width: 100%;
    /*font styling of titles of store items*/
    h2 {
        font-size: 3em;
        margin: 1em 0;
    }
    /*price and description styling*/
    p {
        margin: 0 0 6em 0;
        font-size: 1.6em;
    }
    label {
        font-size: 2em;
    }
    /*store item quantity selector*/
    input {
        font-size: 2em;
        width: 15%;
        touch-action: none;
    }
    /*store item add to cart button*/
    .add_cart {
        background-color: $primary_color;
        font-size: 2em;
        margin-left: 10%;
    }
    .remove_cart {
        background-color: $primary_color;
        font-size: 2em;
        display: block;
    }
}
/*store item images*/
.product_image {
    /*sets size of image*/
    height: 42em;
    width: 39%;
    display: inline;
    margin: 0.25em 0.6% 0 0.6%;
}
.product_text {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    width: 57%;
    padding-top: 1em;
    padding-left: 2%;
}
/***********************************/

/*non-floating/absolute footer*/
/***********************************/
footer {
    /*align text in center*/
    text-align: center;
    /*position at bottom of page*/
    bottom: 0;
    left: 0;
    /*fit full page width*/
    width: 100%;
    padding-bottom: 0.8em;
    /*background color*/
    background-color: $primary_color;
    /*solid black border*/
    @include black_border();
    /*footer paragraph styling*/
    p {
        margin: 0;
        font-size: 2.3em;
    }
}
/***********************************/